<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
<div class="row">

<div class="col-4">
<div class="card m-2" style="width: 18rem;">
<div class="card-header">
ФИО Главного Врача
</div>
<br>
<div class="card-header">
ФИО Лечащего врача
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item">Специальность: {{хирург/терапевт}}</li>
<li class="list-group-item">Опыт работы: {{опыт работы}}</li>
<li class="list-group-item">Заместитель: {{Имя медсестры}}</li>
<li class="list-group-item">Номер телефона: {{ Номер телефона медсестры }}</li>
<li class="list-group-item">Пациентов в очереди: {{Количество всех пациентов связанных с врачом}}</li>
</ul>
</div>
</div>
<a href="/Hospital1/">Glavnay1</a>
</body>
</html>